<main>
  <h1>À faire pour ma {{title}}</h1>
<form [formGroup]="taskForm" (ngSubmit)="addTask($event)">

  <label for="taskName">Nom de la tâche: </label><br>
  <input id="taskName" type="text" placeholder="Nouvelle tâche" formControlName="taskName" autofocus><br>

  <label for="taskDate">A réaliser le: </label><br>
  <input id="taskDate" type="date" formControlName="taskDate"><br>

  <input type="submit" value="Créer">
</form>
<h2>Liste des tâches ci-dessous</h2>
{{ tasks | json}}
@for (task of tasks; track task.id){
  <div class="task">
      <app-task [task]="task" (onTaskStatusChange)="updateTaskStatus($event[0], $event[1])"></app-task>
  </div>

} @empty {
  <div>Aucune tâche en attente</div>
}
</main>
